body{
  width:100vw;
  height:100vh;
  margin: 0;
  background-image: url('https://images.unsplash.com/photo-1689876673591-215e6f1b8a31?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80');
}
*{
  box-sizing: border-box;
}
#root{
  width:100vw;
  height:100vh;
}
.app-container{
  height:inherit;
  width:100%;
  display: flex;
  justify-content: center;
}